@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  background-color: black;
  font-family: "JetBrains Mono", monospace;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-blink {
  animation: blink .7s infinite;
}

.nonInteractive {
  user-select: none;
  overflow: hidden; /* Optionally, hide overflow to prevent scrolling */
}

a {
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}


.neonText {
  color: #daecf0;
  text-shadow:
      0 0 7px #dff9ff,
      0 0 10px #dff9ff,
      0 0 21px #dff9ff,
      0 0 42px #dff9ff,
      0 0 82px #dff9ff,
      0 0 92px #dff9ff,
      0 0 102px #dff9ff,
      0 0 151px #dff9ff;
}

.neonText2 {
  color: #daecf0;
  text-shadow:
      0 0 7px #beced269,
      0 0 10px #beced269,
      0 0 21px #beced269,
      0 0 42px #beced269,
      0 0 82px #beced269,
      0 0 92px #beced269,
      0 0 102px #beced269,
      0 0 151px #beced269;
}

.neonTextHover {
  color: #b1bac5;
}

.neonTextHover:hover {
  color: #daecf0;
  text-shadow:
      0 0 7px #beced269,
      0 0 10px #beced269,
      0 0 21px #beced269,
      0 0 42px #beced269,
      0 0 82px #beced269,
      0 0 92px #beced269,
      0 0 102px #beced269,
      0 0 151px #beced269;
}

button {
  --chroma: #dedede;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--chroma);
  /* background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%); */
  color: var(--chroma);
  /* box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4), 0 0 9px 3px rgba(255, 255, 255, 0.1); */
}

button:hover {
  color: #ffffff;
  border-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.6), 0 0 9px 3px rgba(255, 255, 255, 0.2);
}

button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .7s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(255, 255, 255, 0.1) 40%,rgba(255, 255, 255, 0.269) 60% , transparent 100%);
}

button:hover:before {
  transform: translateX(15em);
}
