@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace !important;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-blink {
  animation: blink .7s infinite;
}

.nonInteractive {
  user-select: none;
  overflow: hidden; /* Optionally, hide overflow to prevent scrolling */
}

